title: My Projects
baseurl: ""
url: "https://btmhess.github.io"

theme: jekyll-theme-primer

collections:
  projects:
    output: true
    permalink: /projects/:name/

defaults:
  - scope:
      path: ""
      type: projects
    values:
      layout: project
